.root {
    -fx-background-color: #2196F3;
}

.login-card {
    -fx-background-color: white;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-border-color: #000000;
    -fx-border-width: 1.2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.3, 0, 4);
}

.primary-btn {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-padding: 8 36;
    -fx-cursor: hand;

    -fx-transition: all 0.2s ease;
}

.primary-btn:hover {
    -fx-background-color: #1976D2;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.primary-btn:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}
